html {
  font-size: 16px;
  color: #333333;
}
a {
  color: inherit;
}

.nowarp {
  white-space: nowrap;
}

.indent2 {
  text-indent: 2em;
}

.mr5 {
  margin-right: 5px;
}
.mt5 {
  margin-top: 5px;
}

.hiddenText {
  overflow: hidden;
}

.space-carousel {
  padding: 16px;
  overflow: hidden;
}

svg {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  color: inherit !important;
}

.full {
  width: 100%;

  overflow: hidden;
}

.fade-enter {
  transform: translateY(100px);
  opacity: 0;
  z-index: 1;
  transition: all 400ms ease;
  transition-delay: 400ms;
}
.fade-enter-active {
  transform: translateY(1px);
  opacity: 1;
}
.fade-enter-done {
}

.fade-exit {
  z-index: 2;
  opacity: 1;
  transform: translateY(1px);
}
.fade-exit-active {
  transform: translateY(100px);
  opacity: 0;
  transition: all 400ms ease;
}
.fade-exit-done {
}
