html {
  font-size: 16px;
  color: #333333;
}
a {
  color: inherit;
}

.nowarp {
  white-space: nowrap;
}

.indent2 {
  text-indent: 2em;
}

.mr5 {
  margin-right: 5px;
}
.mt5 {
  margin-top: 5px;
}

.hiddenText {
  overflow: hidden;
}

.space-carousel {
  padding: 16px;
  overflow: hidden;
}

svg {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  color: inherit !important;
}
