html {
  font-size: 14px;
  color: #333333;
}
a {
  color: inherit;
}
@media only screen and (min-width: 350px) {
  html {
    font-size: 16px !important;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 17.33333333px !important;
  }
}

@media only screen and (min-width: 414px) {
  html {
    font-size: 18.08px !important;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 20.6px !important;
  }
}
/*! normalize.css_page v3.0.3 | MIT License | github.com/necolas/normalize.css_page */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.nowarp {
  white-space: nowrap;
}

.indent2 {
  text-indent: 2em;
}

.mr5 {
  margin-right: 5px;
}
.mt5 {
  margin-top: 5px;
}

.hiddenText {
  overflow: hidden;
}

.space-carousel {
  padding: 16px;
  overflow: hidden;
}

svg {
  padding: 0;
  margin: 0;
  vertical-align: bottom;
}
